<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wilkins Hyundai & Subaru</title>
</head>
<body>
    <h1>Wilkins Hyundai & Subaru</h1>
    <p>We sell Hyundai's and Subaru's</p>
    <a href="/cars">Browse Inventory!</a>
</body>
</html>